body {
    background-color: #66CCFF !important;
    font-family: sans-serif;
}

#navbar{
    background-color: lightblue !important;
}

.page-content{
    display: flex;
    justify-content: center;
}
.toonDoHome{
    margin: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.toonDoHome *{
    padding: 15px;
}

.credentials-form{
    margin: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.toonSide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}
progress {
    border: none;
    width: 200px;
    height: 30px;
    background: crimson;
  }
  
  progress {
    color: lightblue;
  }
  
  progress::-webkit-progress-value {
    background: lightblue;
  }
  
  progress::-moz-progress-bar {
    background: lightcolor;
  }
  
  progress::-webkit-progress-value {
    background: blue;
  }
  
  progress::-webkit-progress-bar {
    background: red;
  }
  